# -------------------------------------------------------
# Generated database (created by openmovies.py)
# -------------------------------------------------------
mdb.sqlite

# -------------------------------------------------------
# Python
# -------------------------------------------------------
__pycache__/
*.py[cod]
*.pyc
.venv/
venv/
env/
*.egg-info/

# -------------------------------------------------------
# OS / Editor
# -------------------------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
